
		<p>a: {{article}}<br>
		u: {{user}} {{article.user}}</p>
<!-- USERNAME -->
<div class="form-group">
	<label for="user-name">Author</label><br>
	<input readonly class="form-control" id="user-name" type="text" name="userName" value="{{user.userName}}{{article.userName}}" />
</div>

<!-- TITLE -->
<div class="form-group">
	<label for="article-title">Title</label><br>
	<input class="form-control" id="article-title" type="text" name="articleTitle" value="{{article.articleTitle}}" />
</div>

<!-- ARTICLE CONTENT -->
<div class="form-group">
	<label for="article-content">Content</label><br>
	<textarea class="form-control"id="article-content" name="articleContent" rows="10" value="{{article.articleContent}}">{{article.articleContent}}</textarea>
</div>