<div>
	<h4>
		<a href="/users/{{this.userId}}/articles/{{this._id}}">
			TITLE: {{this.articleTitle}}
		</a>
	</h4>

	<h4>
		USER: {{this.userName}}
	</h4>

	<h4>
		ARTICLE: {{this.articleContent}}
	</h4>

	<form method="POST" action="/articles/{{this._id}}?_method=DELETE">
		<p>
			<button type="submit">Delete</button>
			<button type="button" onclick="window.location.href='/articles/{{this._id}}/edit'">Edit</button>
			<button type="button" onclick="window.location.href='/users/{{this.userId}}'">Back</button>
		</p>
	</form>
	</p>
</div>