<fieldset>
	<legend>Edit User for {{user.title}}</legend>
	<!-- USER NAME -->
	<div class="form-group">
		<label for="user-name">User Name</label><br>
		<input class="form-control" id="user-name" type="text" name="userName" value="{{user.userName}}" />
	</div>

	<!-- USER INTERESTS -->
	<div class="form-group">
		<label for="user-interests">Interests</label><br>
		<select class="form-control" id="user-interests" type="" name="userInterests" value="{{user.userInterests}}" />
			<option value="N/A">- Not Any -</option>
			<option value="Technology">Technology</option>
			<option value="Business">Business</option>
			<option value="Politics">Politics</option>
			<option value="Cooking">Cooking</option>
			<option value="Nerd Games">Nerd Games</option>
			<option value="EVERYTHING">EVERYTHING</option>
		</select>
	</div>

	<!-- USER BIOGRAPHY -->
	<div class="form-group">
		<label for="user-bio">Bio</label><br>
		<textarea class="form-control"id="user-bio" name="userBio" rows="10" value="{{user.userBio}}"></textarea>
	</div>

	<!-- USER AVATAR LINK -->
	<div class="form-group">
		<label for="user-avatar">Avatar URL</label><br>
		<input class="form-control" id="user-avatar" type="text" name="userAvatar" value="{{user.userAvatar}}"></textarea>
	</div>
</fieldset>
