<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>Title: {{article.articleTitle}}</h1>
		<h2>Author: {{article.userName}}</h2>
		<p>Content: {{article.articleContent}}</p>
		<div class="form-group text-center">
			<button class="btn btn-primary" type="button" onclick="window.location.href='/articles/{{article._id}}/edit'">Edit</button>
			<button class="btn" type="button" onclick="window.location.href='/users/{{article.userId}}'">Back</button>
		</div>
		<form method="POST" action="/articles/{{article._id}}?_method=DELETE">
			<div class="form-group text-center">
				<button class="btn" type="submit">Delete</button>
			</div>
		</form>
		<hr />
		{{> comment-form}}
		<hr />
		<div id="comments">
			{{#each comments}}
				{{> comment}}
			{{/each}}
		</div>
	</div>
</div>

