<!-- users-show.handlebars -->


<div class="row">
	<div class="col-sm-4">
		<img class="img-responsive" src="{{user.userAvatar}}" />
	</div>

	<div class="col-sm-8">
		<h1>{{user.userName}}</h1>
		<p class="lead">{{user.userBio}}</p>
	</div>
</div>
<div class="row">
	<div class="form-group text-center">
		<button type="button" class="btn btn-primary" onclick="window.location.href='/users/{{user._id}}/articles/new'">Write Article</button>
		<button type="button" class="btn" onclick="window.location.href='/users/{{user._id}}/edit'">Edit User</button>

	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Articles</h3>
		{{#each articles}}
			{{> article}}
		{{/each}}
	</div>
</div>


